USE [master]
GO
/****** Object:  Database [NGANHANG]    Script Date: 22/12/2021 11:08:05 ******/
CREATE DATABASE [NGANHANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NGANHANG', FILENAME = N'F:\program x64\Microsoft SQL Server\MSSQL15.SERVER1\MSSQL\DATA\NGANHANG.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NGANHANG_log', FILENAME = N'F:\program x64\Microsoft SQL Server\MSSQL15.SERVER1\MSSQL\DATA\NGANHANG_log.ldf' , SIZE = 335872KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NGANHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NGANHANG]
GO
/****** Object:  User [HTKN]    Script Date: 22/12/2021 11:08:05 ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [0PWLXBTIZP]    Script Date: 22/12/2021 11:08:05 ******/
CREATE USER [0PWLXBTIZP] FOR LOGIN [0PWLXBTIZP] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [017       ]    Script Date: 22/12/2021 11:08:05 ******/
CREATE USER [017       ] FOR LOGIN [TranToan] WITH DEFAULT_SCHEMA=[017       ]
GO
/****** Object:  User [008       ]    Script Date: 22/12/2021 11:08:05 ******/
CREATE USER [008       ] FOR LOGIN [ThuyNgoc] WITH DEFAULT_SCHEMA=[008       ]
GO
/****** Object:  User [004       ]    Script Date: 22/12/2021 11:08:05 ******/
CREATE USER [004       ] FOR LOGIN [HoangLam] WITH DEFAULT_SCHEMA=[004       ]
GO
/****** Object:  User [001]    Script Date: 22/12/2021 11:08:05 ******/
CREATE USER [001] FOR LOGIN [PhungHoi] WITH DEFAULT_SCHEMA=[001]
GO
/****** Object:  DatabaseRole [NganHang]    Script Date: 22/12/2021 11:08:05 ******/
CREATE ROLE [NganHang]
GO
/****** Object:  DatabaseRole [ChiNhanh]    Script Date: 22/12/2021 11:08:05 ******/
CREATE ROLE [ChiNhanh]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [ChiNhanh] ADD MEMBER [0PWLXBTIZP]
GO
ALTER ROLE [db_owner] ADD MEMBER [0PWLXBTIZP]
GO
ALTER ROLE [ChiNhanh] ADD MEMBER [017       ]
GO
ALTER ROLE [db_owner] ADD MEMBER [017       ]
GO
ALTER ROLE [ChiNhanh] ADD MEMBER [008       ]
GO
ALTER ROLE [db_owner] ADD MEMBER [008       ]
GO
ALTER ROLE [ChiNhanh] ADD MEMBER [004       ]
GO
ALTER ROLE [db_owner] ADD MEMBER [004       ]
GO
ALTER ROLE [NganHang] ADD MEMBER [001]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [001]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [001]
GO
ALTER ROLE [db_datareader] ADD MEMBER [001]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [NganHang]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [NganHang]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NganHang]
GO
ALTER ROLE [db_owner] ADD MEMBER [ChiNhanh]
GO
/****** Object:  Schema [001]    Script Date: 22/12/2021 11:08:05 ******/
CREATE SCHEMA [001]
GO
/****** Object:  Schema [004       ]    Script Date: 22/12/2021 11:08:05 ******/
CREATE SCHEMA [004       ]
GO
/****** Object:  Schema [008       ]    Script Date: 22/12/2021 11:08:05 ******/
CREATE SCHEMA [008       ]
GO
/****** Object:  Schema [017       ]    Script Date: 22/12/2021 11:08:05 ******/
CREATE SCHEMA [017       ]
GO
/****** Object:  UserDefinedTableType [dbo].[TBTYPE_MultiExchangeTransaction]    Script Date: 22/12/2021 11:08:05 ******/
CREATE TYPE [dbo].[TBTYPE_MultiExchangeTransaction] AS TABLE(
	[SOTK_NHAN] [nchar](9) NOT NULL,
	[SOTIEN] [money] NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TBTYPE_TAIKHOAN]    Script Date: 22/12/2021 11:08:05 ******/
CREATE TYPE [dbo].[TBTYPE_TAIKHOAN] AS TABLE(
	[SOTK] [nchar](9) NOT NULL,
	[CMND] [nchar](10) NOT NULL,
	[SODU] [money] NOT NULL,
	[MACN] [nchar](10) NOT NULL,
	[NGAYMOTK] [datetime] NOT NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[udf_CheckAccountExistedByPersonalId]    Script Date: 22/12/2021 11:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[udf_CheckAccountExistedByPersonalId] (@CMND NCHAR(10))
RETURNS BIT
AS
BEGIN
	DECLARE @Ret BIT = 0;
	IF EXISTS (SELECT * FROM dbo.TaiKhoan WITH (INDEX = IX_TaiKhoan_CMND) WHERE CMND = @CMND)
		SET @Ret = 1;
	RETURN @Ret;
END
GO
/****** Object:  UserDefinedFunction [dbo].[udf_CheckAccountHavingTransaction]    Script Date: 22/12/2021 11:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[udf_CheckAccountHavingTransaction] (@SOTK NCHAR(9))
RETURNS BIT
WITH inline = OFF
AS
BEGIN
	DECLARE @Ret BIT = 0;
	IF EXISTS (SELECT * FROM dbo.GD_GOIRUT WHERE SOTK = @SOTK) 
		OR EXISTS (SELECT * FROM dbo.GD_CHUYENTIEN WHERE SOTK_CHUYEN = @SOTK)
		OR EXISTS (SELECT * FROM LINK1.NGANHANG.dbo.GD_GOIRUT WHERE SOTK = @SOTK)
		OR EXISTS (SELECT * FROM LINK1.NGANHANG.dbo.GD_CHUYENTIEN WHERE SOTK_CHUYEN = @SOTK)
		SET @Ret = 1;
	RETURN @Ret;
END
GO
/****** Object:  UserDefinedFunction [dbo].[udf_CheckAccountIdExisted]    Script Date: 22/12/2021 11:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[udf_CheckAccountIdExisted]
	(@SOTK NCHAR(9))
RETURNS BIT
AS
BEGIN
	DECLARE @Ret BIT = 0;
	IF EXISTS (SELECT * FROM dbo.TaiKhoan WHERE SOTK = @SOTK)
		SET @Ret = 1;
	RETURN @Ret;
END
GO
/****** Object:  UserDefinedFunction [dbo].[udf_CheckAccountOfCustomerExisted]    Script Date: 22/12/2021 11:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[udf_CheckAccountOfCustomerExisted]
(@CMND NCHAR(10))
RETURNS BIT
AS
BEGIN
	DECLARE @Ret BIT = 0;
	IF EXISTS (SELECT * FROM dbo.TaiKhoan WHERE CMND = @CMND)
		SET @Ret = 1;
	RETURN @Ret;
END

GO
/****** Object:  UserDefinedFunction [dbo].[udf_CheckCustomerExistedById]    Script Date: 22/12/2021 11:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[udf_CheckCustomerExistedById] (@CMND NCHAR(10))
RETURNS BIT
WITH inline = OFF
AS
BEGIN
	DECLARE @Ret BIT = 0;
	IF EXISTS (SELECT * FROM dbo.KhachHang WHERE CMND = @CMND)
		OR EXISTS (SELECT * FROM LINK1.NGANHANG.dbo.KhachHang WHERE CMND = @CMND)
		SET @Ret = 1;
	RETURN @Ret;
END
GO
/****** Object:  UserDefinedFunction [dbo].[udf_CheckCustomerExistedById2]    Script Date: 22/12/2021 11:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[udf_CheckCustomerExistedById2]
	(@CMND NCHAR(10))
RETURNS BIT
AS
BEGIN
	DECLARE @Ret BIT = 0;
	IF EXISTS (SELECT * FROM LINK2.NGANHANG.dbo.KhachHang WHERE CMND = @CMND)
		SET @Ret = 1;
	RETURN @Ret;
END
GO
/****** Object:  UserDefinedFunction [dbo].[udf_CheckCustomerHavingAccount]    Script Date: 22/12/2021 11:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[udf_CheckCustomerHavingAccount] (@CMND NCHAR(10))
RETURNS BIT
AS
BEGIN
	DECLARE @Ret BIT = 0;
	IF EXISTS (SELECT * FROM dbo.TaiKhoan WITH (INDEX = IX_TaiKhoan_CMND) WHERE CMND = @CMND)
		SET @Ret = 1;
	RETURN @Ret;
END
GO
/****** Object:  UserDefinedFunction [dbo].[udf_CheckEmployeeIDExisted]    Script Date: 22/12/2021 11:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[udf_CheckEmployeeIDExisted] (@MaNV NCHAR(10))
RETURNS BIT
WITH inline = OFF
AS
BEGIN
	DECLARE @res BIT = 0;
	IF EXISTS(SELECT MANV FROM dbo.NhanVien WHERE MANV = @MaNV)
		OR EXISTS (SELECT MANV FROM LINK1.NGANHANG.dbo.NhanVien WHERE MANV = @MaNV)
		SET @res = 1;
	RETURN @res;
END
GO
/****** Object:  UserDefinedFunction [dbo].[udf_GetBrandIDOfSubcriber]    Script Date: 22/12/2021 11:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[udf_GetBrandIDOfSubcriber] ()
RETURNS NCHAR(10)
AS
BEGIN
	DECLARE @MaCN NCHAR(10);
    SELECT @MaCN = MACN	FROM dbo.ChiNhanh;
	RETURN @MaCN;
END
GO
/****** Object:  Table [dbo].[ChiNhanh]    Script Date: 22/12/2021 11:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiNhanh](
	[MACN] [nchar](10) NOT NULL,
	[TENCN] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[SoDT] [nvarchar](15) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_ChiNhanh] PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GD_CHUYENTIEN]    Script Date: 22/12/2021 11:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_CHUYENTIEN](
	[MAGD] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SOTK_CHUYEN] [nchar](9) NOT NULL,
	[NGAYGD] [datetime] NOT NULL,
	[SOTIEN] [money] NOT NULL,
	[SOTK_NHAN] [nchar](9) NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[SODUSAU] [money] NOT NULL,
 CONSTRAINT [PK_GD_CHUYENTIEN] PRIMARY KEY CLUSTERED 
(
	[MAGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GD_GOIRUT]    Script Date: 22/12/2021 11:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_GOIRUT](
	[MAGD] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SOTK] [nchar](9) NOT NULL,
	[LOAIGD] [nchar](2) NOT NULL,
	[NGAYGD] [datetime] NOT NULL,
	[SOTIEN] [money] NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[SODUSAU] [money] NOT NULL,
 CONSTRAINT [PK_GD_GOIRUT] PRIMARY KEY CLUSTERED 
(
	[MAGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 22/12/2021 11:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[CMND] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[PHAI] [nvarchar](3) NULL,
	[NGAYCAP] [date] NOT NULL,
	[SODT] [nvarchar](15) NOT NULL,
	[MACN] [nchar](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 22/12/2021 11:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MANV] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[PHAI] [nvarchar](3) NULL,
	[SODT] [nvarchar](15) NOT NULL,
	[MACN] [nchar](10) NOT NULL,
	[TrangThaiXoa] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 22/12/2021 11:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[SOTK] [nchar](9) NOT NULL,
	[CMND] [nchar](10) NOT NULL,
	[SODU] [money] NOT NULL,
	[MACN] [nchar](10) NOT NULL,
	[NGAYMOTK] [datetime] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[SOTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiNhanh] ([MACN], [TENCN], [DIACHI], [SoDT], [rowguid]) VALUES (N'BENTHANH  ', N'Bến Thành', N'211 Lê Lợi, Quận 1, TPHCM', N'0947637664', N'96c0d3aa-0c11-ec11-94f5-5eea1d228b33')
GO
SET IDENTITY_INSERT [dbo].[GD_CHUYENTIEN] ON 

INSERT [dbo].[GD_CHUYENTIEN] ([MAGD], [SOTK_CHUYEN], [NGAYGD], [SOTIEN], [SOTK_NHAN], [MANV], [rowguid], [SODUSAU]) VALUES (1, N'588657222', CAST(N'2021-06-11T05:06:17.000' AS DateTime), 345000.0000, N'543044325', N'PS6FD7D7IR', N'92c1d3aa-0c11-ec11-94f5-5eea1d228b33', 5503000.0000)
INSERT [dbo].[GD_CHUYENTIEN] ([MAGD], [SOTK_CHUYEN], [NGAYGD], [SOTIEN], [SOTK_NHAN], [MANV], [rowguid], [SODUSAU]) VALUES (4, N'392517147', CAST(N'2021-07-06T22:03:43.000' AS DateTime), 226000.0000, N'234748188', N'W9XZULQMFO', N'95c1d3aa-0c11-ec11-94f5-5eea1d228b33', 7981000.0000)
INSERT [dbo].[GD_CHUYENTIEN] ([MAGD], [SOTK_CHUYEN], [NGAYGD], [SOTIEN], [SOTK_NHAN], [MANV], [rowguid], [SODUSAU]) VALUES (5, N'854006909', CAST(N'2021-02-24T13:50:32.000' AS DateTime), 447000.0000, N'676880999', N'99P87MH8MW', N'96c1d3aa-0c11-ec11-94f5-5eea1d228b33', 5137000.0000)
SET IDENTITY_INSERT [dbo].[GD_CHUYENTIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[GD_GOIRUT] ON 

INSERT [dbo].[GD_GOIRUT] ([MAGD], [SOTK], [LOAIGD], [NGAYGD], [SOTIEN], [MANV], [rowguid], [SODUSAU]) VALUES (2, N'017079456', N'GT', CAST(N'2021-02-27T05:49:56.000' AS DateTime), 368000.0000, N'QAUKJ4L2H1', N'e2c1d3aa-0c11-ec11-94f5-5eea1d228b33', 9143000.0000)
INSERT [dbo].[GD_GOIRUT] ([MAGD], [SOTK], [LOAIGD], [NGAYGD], [SOTIEN], [MANV], [rowguid], [SODUSAU]) VALUES (3, N'030100610', N'GT', CAST(N'2021-07-22T18:14:10.000' AS DateTime), 165000.0000, N'0PWLXBTIZP', N'e3c1d3aa-0c11-ec11-94f5-5eea1d228b33', 3961000.0000)
INSERT [dbo].[GD_GOIRUT] ([MAGD], [SOTK], [LOAIGD], [NGAYGD], [SOTIEN], [MANV], [rowguid], [SODUSAU]) VALUES (5, N'074114255', N'GT', CAST(N'2021-03-27T23:28:13.000' AS DateTime), 201000.0000, N'Y7PA02CYON', N'e5c1d3aa-0c11-ec11-94f5-5eea1d228b33', 6613000.0000)
SET IDENTITY_INSERT [dbo].[GD_GOIRUT] OFF
GO
INSERT [dbo].[KhachHang] ([CMND], [HO], [TEN], [DIACHI], [PHAI], [NGAYCAP], [SODT], [MACN], [rowguid]) VALUES (N'00111     ', N'Tèo', N'Nguyễn', N'11122 22233', N'Nam', CAST(N'2021-12-12' AS Date), N'0800908761', N'BENTHANH  ', N'182ee120-2c5b-ec11-9511-d09466f7ed41')
INSERT [dbo].[KhachHang] ([CMND], [HO], [TEN], [DIACHI], [PHAI], [NGAYCAP], [SODT], [MACN], [rowguid]) VALUES (N'0137546824', N'Eliza Waters Dfeq', N'Bryan', N'1882 Akci Grove', N'Nam', CAST(N'2020-08-17' AS Date), N'0745945393', N'BENTHANH  ', N'cbc0d3aa-0c11-ec11-94f5-5eea1d228b33')
INSERT [dbo].[KhachHang] ([CMND], [HO], [TEN], [DIACHI], [PHAI], [NGAYCAP], [SODT], [MACN], [rowguid]) VALUES (N'0169558810', N'Miguel Vega', N'Janie', N'563 Jiiwa Manor', N'Nữ', CAST(N'2020-04-14' AS Date), N'0439513041', N'BENTHANH  ', N'ccc0d3aa-0c11-ec11-94f5-5eea1d228b33')
GO
INSERT [dbo].[NhanVien] ([MANV], [HO], [TEN], [DIACHI], [PHAI], [SODT], [MACN], [TrangThaiXoa], [rowguid]) VALUES (N'001       ', N'Phùng Quốc', N'Hội', N'227 Trần Xuân Soạn', N'Nữ', N'0223434567', N'BENTHANH  ', 0, N'dd8e2bd5-515b-ec11-9511-d09466f7ed41')
INSERT [dbo].[NhanVien] ([MANV], [HO], [TEN], [DIACHI], [PHAI], [SODT], [MACN], [TrangThaiXoa], [rowguid]) VALUES (N'004       ', N'Hoàng', N'Lâm', N'234 Ngô Quyền', N'Nam', N'0907171124', N'BENTHANH  ', 0, N'75317eb6-8823-ec11-94fc-d09466f7ed41')
INSERT [dbo].[NhanVien] ([MANV], [HO], [TEN], [DIACHI], [PHAI], [SODT], [MACN], [TrangThaiXoa], [rowguid]) VALUES (N'009       ', N'Mạnh', N'Đình', N'234', N'Nam', N'0902342248', N'BENTHANH  ', 0, N'c17e3954-8f23-ec11-94fc-d09466f7ed41')
GO
INSERT [dbo].[TaiKhoan] ([SOTK], [CMND], [SODU], [MACN], [NGAYMOTK], [rowguid]) VALUES (N'002653412', N'7427467771', 2436000.0000, N'TANDINH   ', CAST(N'2020-07-30T00:00:00.000' AS DateTime), N'2ec1d3aa-0c11-ec11-94f5-5eea1d228b33')
INSERT [dbo].[TaiKhoan] ([SOTK], [CMND], [SODU], [MACN], [NGAYMOTK], [rowguid]) VALUES (N'003242939', N'00111     ', 3232333.0000, N'BENTHANH  ', CAST(N'2021-12-13T19:36:06.020' AS DateTime), N'f647ea41-115c-ec11-9511-d09466f7ed41')
INSERT [dbo].[TaiKhoan] ([SOTK], [CMND], [SODU], [MACN], [NGAYMOTK], [rowguid]) VALUES (N'017079456', N'1323213371', 8803000.0000, N'TANDINH   ', CAST(N'2020-08-16T00:00:00.000' AS DateTime), N'2fc1d3aa-0c11-ec11-94f5-5eea1d228b33')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_ChiNhanh]    Script Date: 22/12/2021 11:08:05 ******/
ALTER TABLE [dbo].[ChiNhanh] ADD  CONSTRAINT [UK_ChiNhanh] UNIQUE NONCLUSTERED 
(
	[TENCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_885578193]    Script Date: 22/12/2021 11:08:05 ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_885578193] ON [dbo].[ChiNhanh]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_GD_CHUYENTIEN_SOTK_CHUYEN]    Script Date: 22/12/2021 11:08:05 ******/
CREATE NONCLUSTERED INDEX [IX_GD_CHUYENTIEN_SOTK_CHUYEN] ON [dbo].[GD_CHUYENTIEN]
(
	[SOTK_CHUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_997578592]    Script Date: 22/12/2021 11:08:05 ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_997578592] ON [dbo].[GD_CHUYENTIEN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_GD_GOIRUT_SOTK]    Script Date: 22/12/2021 11:08:05 ******/
CREATE NONCLUSTERED INDEX [IX_GD_GOIRUT_SOTK] ON [dbo].[GD_GOIRUT]
(
	[SOTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1061578820]    Script Date: 22/12/2021 11:08:05 ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1061578820] ON [dbo].[GD_GOIRUT]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_965578478]    Script Date: 22/12/2021 11:08:05 ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_965578478] ON [dbo].[KhachHang]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_933578364]    Script Date: 22/12/2021 11:08:05 ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_933578364] ON [dbo].[NhanVien]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TaiKhoan_CMND]    Script Date: 22/12/2021 11:08:05 ******/
CREATE NONCLUSTERED INDEX [IX_TaiKhoan_CMND] ON [dbo].[TaiKhoan]
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1029578706]    Script Date: 22/12/2021 11:08:05 ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1029578706] ON [dbo].[TaiKhoan]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiNhanh] ADD  CONSTRAINT [MSmerge_df_rowguid_B3620B50A11D44B599635181B259E6E2]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] ADD  CONSTRAINT [DF_GD_CHUYENTIEN_NGAYGD]  DEFAULT (getdate()) FOR [NGAYGD]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_BA78097056A84C0B8181A74370B1C095]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] ADD  CONSTRAINT [DF__GD_CHUYEN__SODUS__5ABA43E6]  DEFAULT ((0)) FOR [SODUSAU]
GO
ALTER TABLE [dbo].[GD_GOIRUT] ADD  CONSTRAINT [DF_GD_GOIRUT_NGAYGD]  DEFAULT (getdate()) FOR [NGAYGD]
GO
ALTER TABLE [dbo].[GD_GOIRUT] ADD  CONSTRAINT [DF_GD_GOIRUT_SOTIEN]  DEFAULT ((100000)) FOR [SOTIEN]
GO
ALTER TABLE [dbo].[GD_GOIRUT] ADD  CONSTRAINT [MSmerge_df_rowguid_C9AF8E6CFCD64C94947118D825409D22]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GD_GOIRUT] ADD  CONSTRAINT [DF__GD_GOIRUT__SODUS__7A67F969]  DEFAULT ((0)) FOR [SODUSAU]
GO
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [CK_KHPHAI]  DEFAULT (N'Nam') FOR [PHAI]
GO
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [MSmerge_df_rowguid_660E6100930E4D1FBDDA82EDBE811C58]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [CK_NVPHAI]  DEFAULT (N'Nam') FOR [PHAI]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [CK_NVTTX]  DEFAULT ((0)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [MSmerge_df_rowguid_A30383FC70B44D4A830A08808D87A4EB]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [DF__TaiKhoan__SODU__4222D4EF]  DEFAULT ((0)) FOR [SODU]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [DF__TaiKhoan__NGAYMO__5EBF139D]  DEFAULT (getdate()) FOR [NGAYMOTK]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [MSmerge_df_rowguid_466461F5563E42C78E96B7C0BA6DA83E]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH NOCHECK ADD  CONSTRAINT [FK_GD_CHUYENTIEN_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [FK_GD_CHUYENTIEN_NhanVien]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH NOCHECK ADD  CONSTRAINT [FK_SOTKCHUYEN_TAIKHOAN] FOREIGN KEY([SOTK_CHUYEN])
REFERENCES [dbo].[TaiKhoan] ([SOTK])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [FK_SOTKCHUYEN_TAIKHOAN]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH NOCHECK ADD  CONSTRAINT [FK_GD_GOIRUT_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [FK_GD_GOIRUT_NhanVien]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH NOCHECK ADD  CONSTRAINT [FK_GD_GOIRUT_TaiKhoan] FOREIGN KEY([SOTK])
REFERENCES [dbo].[TaiKhoan] ([SOTK])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [FK_GD_GOIRUT_TaiKhoan]
GO
ALTER TABLE [dbo].[KhachHang]  WITH NOCHECK ADD  CONSTRAINT [FK_KHACH_CHINHANH] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KHACH_CHINHANH]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH NOCHECK ADD  CONSTRAINT [FK_TaiKhoan_ChiNhanh] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_ChiNhanh]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH NOCHECK ADD  CONSTRAINT [FK_TaiKhoan_KhachHang] FOREIGN KEY([CMND])
REFERENCES [dbo].[KhachHang] ([CMND])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_KhachHang]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH NOCHECK ADD  CONSTRAINT [CK_GD_CHUYENTIEN] CHECK NOT FOR REPLICATION (([SOTIEN]>(0)))
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [CK_GD_CHUYENTIEN]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_3D140DE2_28F5_446F_B7FA_B6259008B5C6] CHECK NOT FOR REPLICATION (([MAGD]>(134079) AND [MAGD]<=(135079) OR [MAGD]>(135079) AND [MAGD]<=(136079)))
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [repl_identity_range_3D140DE2_28F5_446F_B7FA_B6259008B5C6]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH NOCHECK ADD  CONSTRAINT [CK_LOAIGD] CHECK NOT FOR REPLICATION (([LOAIGD]='RT' OR [LOAIGD]='GT'))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [CK_LOAIGD]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH NOCHECK ADD  CONSTRAINT [CK_SOTIEN] CHECK NOT FOR REPLICATION (([SOTIEN]>=(100000)))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [CK_SOTIEN]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_F454AEB6_4260_403C_8429_D50F6F350F7F] CHECK NOT FOR REPLICATION (([MAGD]>(134100) AND [MAGD]<=(135100) OR [MAGD]>(135100) AND [MAGD]<=(136100)))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [repl_identity_range_F454AEB6_4260_403C_8429_D50F6F350F7F]
GO
ALTER TABLE [dbo].[KhachHang]  WITH NOCHECK ADD  CONSTRAINT [CK__KhachHang__PHAI__59FA5E80] CHECK NOT FOR REPLICATION (([PHAI]=N'Nam' OR [PHAI]=N'Nữ'))
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [CK__KhachHang__PHAI__59FA5E80]
GO
ALTER TABLE [dbo].[NhanVien]  WITH NOCHECK ADD  CONSTRAINT [CK__NhanVien__PHAI__5BE2A6F2] CHECK NOT FOR REPLICATION (([PHAI]=N'Nam' OR [PHAI]=N'Nữ'))
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [CK__NhanVien__PHAI__5BE2A6F2]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH NOCHECK ADD  CONSTRAINT [CK__TaiKhoan__SODU__5DCAEF64] CHECK NOT FOR REPLICATION (([SODU]>=(0)))
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [CK__TaiKhoan__SODU__5DCAEF64]
GO
/****** Object:  StoredProcedure [dbo].[usp_CreateNewLogin]    Script Date: 22/12/2021 11:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_CreateNewLogin] @LoginName VARCHAR(50),
    @MaNV VARCHAR(50),
    @Pass VARCHAR(50),
    @Role VARCHAR(50)
AS
BEGIN
	BEGIN TRY
		DECLARE @Ret INT;
		
		-- Tạo Login trên server trước
		-- Không cần kiểm tra tên login bị trùng vì lấy tên login lấy theo mã NV
		EXEC @Ret = sys.sp_addlogin @loginame = @LoginName,
									@passwd = @Pass,
									@defdb = 'NGANHANG';

		IF (@Ret = 1) -- LOGIN NAME BI TRUNG
			THROW 51000, 'Tên đăng nhập đã tồn tại', 16;

		-- Tạo user tương ứng với login trên DB
		-- Cần kiểm tra mã username bị trùng
		EXEC @Ret = sp_grantdbaccess @loginame = @LoginName, @name_in_db = @MaNV;

		IF (@Ret = 1) -- USER  NAME BI TRUNG
		BEGIN
			EXEC sp_droplogin @loginame = @LoginName;
			THROW 51000, 'TNhân viên đã có tài khoản với tên đăng nhập khác', 16;
		END;

		-- Cấp quyền cho user theo @Role
		EXEC sp_addrolemember @rolename = @Role, @membername = @MaNV;

		-- Cấp quyền tạo login cho user mới
		EXEC sp_addsrvrolemember @loginame = @LoginName, @rolename = 'SecurityAdmin';

		-- Cấp quyền kiểm tra user có login vào server (Dùng khi chuyển nhân viên)
		IF @Role = 'CHINHANH'
			EXEC sp_addsrvrolemember @loginame = @LoginName, @rolename = 'ProcessAdmin';
	END TRY
	BEGIN CATCH
		THROW;
	END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAccountByCustomerId]    Script Date: 22/12/2021 11:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetAccountByCustomerId] @CMND NCHAR(10)
AS
BEGIN
	SELECT T.SOTK, T.SODU, T.MACN, T.NGAYMOTK FROM dbo.TaiKhoan T WITH (INDEX = IX_TaiKhoan_CMND)
	WHERE CMND = @CMND
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetCustomerAccounts]    Script Date: 22/12/2021 11:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetCustomerAccounts] AS
BEGIN
	SELECT tk.SOTK, kh.HOTEN, kh.CMND, DATEADD(dd, 0, DATEDIFF(dd, 0, tk.NGAYMOTK)) AS [NGAYMOTK]
	FROM 
	(
		SELECT CMND, SOTK, NGAYMOTK FROM dbo.TaiKhoan
	) tk
	JOIN 
	(
		SELECT CMND, (HO + ' ' + TEN) AS [HOTEN] FROM LINK2.NGANHANG.dbo.KhachHang
	) kh ON kh.CMND = tk.CMND
	ORDER BY kh.HOTEN, tk.SOTK
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetCustomerHavingAccountAll]    Script Date: 22/12/2021 11:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetCustomerHavingAccountAll] (@SOTK_CHUYEN NCHAR(9))
AS
BEGIN
	SELECT DISTINCT kh.CMND, (kh.HO + ' ' + kh.TEN) AS [HOTEN], kh.DIACHI, kh.NGAYCAP, kh.SODT, kh.MACN
	FROM LINK2.NGANHANG.dbo.KhachHang kh
	JOIN 
	(
		SELECT SOTK, CMND FROM dbo.TaiKhoan
		WHERE SOTK <> @SOTK_CHUYEN
	) TK
	ON TK.CMND = kh.CMND
	ORDER BY HOTEN;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetCustomerHavingAccountInSubcriber]    Script Date: 22/12/2021 11:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetCustomerHavingAccountInSubcriber] AS
BEGIN
	SELECT kh.CMND, (kh.HO + ' ' + kh.TEN) AS [HOTEN], kh.DIACHI, kh.NGAYCAP, kh.SODT
	FROM dbo.KhachHang kh
	WHERE EXISTS (SELECT * FROM dbo.TaiKhoan tk WITH (INDEX=IX_TaiKhoan_CMND) WHERE tk.CMND = kh.CMND)
	ORDER BY HOTEN;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetEmployeeNotHavingAccountOfSubcriber]    Script Date: 22/12/2021 11:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_GetEmployeeNotHavingAccountOfSubcriber]
AS
BEGIN
	SELECT MANV, HO, TEN, DIACHI, PHAI, SODT, MACN FROM dbo.NhanVien
	WHERE NOT EXISTS(SELECT * FROM sys.sysusers WHERE name = MANV) AND TrangThaiXoa = 0
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetOtherBrandFromSubcriber]    Script Date: 22/12/2021 11:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_GetOtherBrandFromSubcriber]
AS
BEGIN
	DECLARE @MaCNSubcriber NCHAR(10);
	SELECT @MaCNSubcriber = MACN FROM dbo.ChiNhanh;
	SELECT MACN, TENCN, DIACHI, SoDT FROM LINK0.NGANHANG.dbo.ChiNhanh
	WHERE MACN <> @MaCNSubcriber
END

GO
/****** Object:  StoredProcedure [dbo].[usp_GetTransExchangeByAccountId]    Script Date: 22/12/2021 11:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetTransExchangeByAccountId] (@SOTK AS NCHAR(9))
AS
BEGIN
	SELECT CT.MAGD, CT.SOTIEN, CT.SOTK_NHAN, CT.MANV, NV.HOTENNV, CT.NGAYGD
	FROM 
	(
		SELECT MAGD, SOTIEN, MANV, SOTK_NHAN, NGAYGD FROM dbo.GD_CHUYENTIEN WITH (INDEX = IX_GD_CHUYENTIEN_SOTK_CHUYEN)
		WHERE SOTK_CHUYEN = @SOTK
	) CT
	JOIN 
	(
		SELECT SOTK, CMND FROM dbo.TaiKhoan
	) TK
	ON TK.SOTK = CT.SOTK_NHAN
	JOIN
	(
		SELECT MANV, (HO + ' ' + TEN) AS [HOTENNV] FROM dbo.NhanVien
	) NV
	ON NV.MANV = CT.MANV
	ORDER BY CT.NGAYGD DESC
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetTransSendWithdrawalByAccountId]    Script Date: 22/12/2021 11:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetTransSendWithdrawalByAccountId] (@SOTK AS NCHAR(9))
AS
BEGIN
	SELECT GR.MAGD, GR.LOAIGD, GR.SOTIEN, GR.MANV, NV.HOTENNV, GR.NGAYGD FROM 
	(
		SELECT MAGD, LOAIGD, SOTIEN, MANV, NGAYGD
		FROM dbo.GD_GOIRUT WITH (INDEX = IX_GD_GOIRUT_SOTK)
		WHERE SOTK = @SOTK
	) GR
	JOIN 
	(
		SELECT MANV, (HO + ' ' + TEN) AS [HOTENNV] FROM dbo.NhanVien
	) NV
	ON NV.MANV = GR.MANV
	ORDER BY GR.NGAYGD DESC
END
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertTransExchange]    Script Date: 22/12/2021 11:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_InsertTransExchange] (@SOTK_CHUYEN NCHAR(9), @NGAYGD DATETIME, @MULTI_EXCHANGE_TABLE AS TBTYPE_MultiExchangeTransaction READONLY, 
@MANV NCHAR(10))
AS
BEGIN
	SET XACT_ABORT ON;
	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;

	-- Deallocate open cursor if rollback occurs (but not when rollback is applied to a savepoint_name)
	SET CURSOR_CLOSE_ON_COMMIT ON;

	BEGIN TRY
		BEGIN DISTRIBUTED TRANSACTION;
			
			DECLARE @SUM_EXCHANGE INT;
			SELECT @SUM_EXCHANGE = SUM(SOTIEN) FROM @MULTI_EXCHANGE_TABLE;
		
			DECLARE @SODUDAU MONEY;
			SELECT @SODUDAU = SODU FROM dbo.TaiKhoan WHERE SOTK = @SOTK_CHUYEN;

			IF (@SODUDAU < @SUM_EXCHANGE)
				THROW 50000, N'Số dư tài khoản chuyển không đủ để chuyển tiền', 16;

			DECLARE @SOTK_NHAN NCHAR(9);
			DECLARE @SOTIEN MONEY;

			DECLARE cursorExchange CURSOR FOR 
				SELECT SOTK_NHAN, SOTIEN FROM @MULTI_EXCHANGE_TABLE

			OPEN cursorExchange;

			FETCH NEXT FROM cursorExchange INTO @SOTK_NHAN, @SOTIEN

			DECLARE @SODUDAU_TKNHAN MONEY;
			DECLARE @SODUSAU_TKNHAN MONEY;

			WHILE @@FETCH_STATUS = 0
			BEGIN
				
				SELECT @SODUDAU_TKNHAN = SODU FROM dbo.TaiKhoan WHERE SOTK = @SOTK_NHAN;
				SET @SODUSAU_TKNHAN = @SODUDAU_TKNHAN + @SOTIEN;

				-- Lưu giao dịch
				INSERT INTO dbo.GD_CHUYENTIEN
				(
				    SOTK_CHUYEN,
				    NGAYGD,
				    SOTIEN,
				    SOTK_NHAN,
				    MANV,
				    SODUSAU
				)
				VALUES
				(   @SOTK_CHUYEN,       -- SOTK_CHUYEN - nchar(9)
				    @NGAYGD, -- NGAYGD - datetime
				    @SOTIEN,      -- SOTIEN - money
				    @SOTK_NHAN,       -- SOTK_NHAN - nchar(9)
				    @MANV,       -- MANV - nchar(10)
				    @SODUSAU_TKNHAN       -- SODUSAU - money
				    )

				UPDATE dbo.TaiKhoan SET SODU = SODU + @SOTIEN
				WHERE SOTK = @SOTK_NHAN

				FETCH NEXT FROM cursorExchange INTO @SOTK_NHAN, @SOTIEN
			END

			CLOSE cursorExchange;
			DEALLOCATE cursorExchange;

			-- Tính số dư sau
			DECLARE @SODUSAU_TKCHUYEN MONEY = @SODUDAU - @SUM_EXCHANGE;

			-- Cập nhật số dư
			UPDATE dbo.TaiKhoan
			SET SODU = @SODUSAU_TKCHUYEN
			WHERE SOTK = @SOTK_CHUYEN

		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		-- Transaction chưa commit
		IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION;
			THROW;
		END
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertTransSendWithdrawal]    Script Date: 22/12/2021 11:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_InsertTransSendWithdrawal] (@SOTK NCHAR(9), @LOAIGD NCHAR(2), @NGAYGD DATETIME, @SOTIEN MONEY, @MANV NCHAR(10))
AS
BEGIN
	SET XACT_ABORT ON;
	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;

	BEGIN TRY
		BEGIN DISTRIBUTED TRANSACTION;
		
			DECLARE @SODUDAU MONEY;
			SELECT @SODUDAU = SODU FROM dbo.TaiKhoan WHERE SOTK = @SOTK;

			DECLARE @SODUSAU MONEY;

			IF @LOAIGD = 'RT'
			BEGIN
				SET @SODUSAU = @SODUDAU - @SOTIEN;
				IF @SODUSAU < 0
					THROW 50000, N'Số dư không đủ để rút tiền', 16;
			END
			ELSE IF @LOAIGD = 'GT'
				SET @SODUSAU = @SODUDAU + @SOTIEN;
			ELSE
				THROW 50001, N'Loại giao dịch không hợp lệ', 16;
		
			-- Lưu giao dịch
			INSERT INTO dbo.GD_GOIRUT
			(
				SOTK,
				LOAIGD,
				NGAYGD,
				SOTIEN,
				MANV,
				SODUSAU
			)
			VALUES
			(   @SOTK,       -- SOTK - nchar(9)
				@LOAIGD,       -- LOAIGD - nchar(2)
				@NGAYGD, -- NGAYGD - datetime
				@SOTIEN,      -- SOTIEN - money
				@MANV,       -- MANV - nchar(10)
				@SODUSAU       -- SODUSAU - money
				)
			
			-- Cập nhật số dư
			UPDATE dbo.TaiKhoan
			SET SODU = @SODUSAU
			WHERE SOTK = @SOTK

		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
		END;
		THROW;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Login]    Script Date: 22/12/2021 11:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_Login]
@LoginName NVARCHAR (50)
AS
BEGIN
	DECLARE @uid INT;
	DECLARE @MANV NCHAR(10);
	
	SELECT @uid = uid, @MANV = name FROM sys.sysusers WHERE sid = SUSER_SID(@LoginName);
	 
	SELECT	USERNAME = @MANV, 
			HOTEN = (SELECT HO + ' ' + TEN FROM NHANVIEN WHERE MANV = @MANV),
			TENNHOM = name
	FROM sys.sysusers 
	WHERE uid = (SELECT groupuid FROM sys.sysmembers WHERE memberuid = @uid)
END

GO
/****** Object:  StoredProcedure [dbo].[usp_MoveEmployeeToBrand]    Script Date: 22/12/2021 11:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_MoveEmployeeToBrand] @MANV NCHAR(10), @MACN NCHAR(10)
AS
BEGIN
	SET XACT_ABORT ON;
	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;

	DECLARE @LGNAME VARCHAR(50);
	DECLARE @USERNAME VARCHAR(50);
	SET @LGNAME = CAST((SELECT SUSER_SNAME(sid) FROM sys.sysusers WHERE name = CAST(@MANV AS sysname)) AS sysname);
	SET @USERNAME = CAST(@MANV AS VARCHAR(50));

	BEGIN TRY
		-- Kiểm tra nhân viên cần chuyển có đang kết nối tại server của site chứa nhân viên
		IF EXISTS (SELECT loginame 
					FROM sys.sysprocesses
					WHERE dbid > 0 AND loginame = @LGNAME
					GROUP BY loginame)
		THROW 50000, N'Không thể chuyển nhân viên hiện đang kết nối.', 16;

		BEGIN DISTRIBUTED TRAN
			-- Kiểm tra xem bên Site chuyển tới đã có dữ liệu nhân viên đó chưa.
			-- Nếu có thì đổi trạng thái, chưa thì thêm vào
			IF EXISTS(SELECT * FROM LINK1.NGANHANG.dbo.NhanVien WHERE MANV = @MANV)
			BEGIN
				UPDATE LINK1.NGANHANG.dbo.NhanVien
				SET TrangThaiXoa = 0
				WHERE MANV = @MANV;
			END
			ELSE
			BEGIN
				INSERT INTO LINK1.NGANHANG.dbo.NhanVien (MANV, HO, TEN, DIACHI, PHAI, SODT, MACN, TRANGTHAIXOA)
				(
					SELECT MANV, HO, TEN, DIACHI, PHAI, SODT, MACN = @MACN, TRANGTHAIXOA
					FROM dbo.NhanVien
					WHERE MANV = @MANV
				)
			END

			--Kiểm tra xem Nhân viên được chuyển có thực hiện giao dịch nào không
			--Nếu chưa thì xóa luôn nhân viên đó, nếu có thì đổi trạng thái xóa
			IF EXISTS(SELECT * FROM dbo.GD_CHUYENTIEN WHERE MANV = @MANV) 
						OR EXISTS(SELECT * FROM dbo.GD_GOIRUT WHERE MANV = @MANV)
			BEGIN 
				UPDATE dbo.NhanVien
				SET TrangThaiXoa = 1
				WHERE MANV = @MANV;
			END
			ELSE
			BEGIN
				DELETE FROM dbo.NhanVien Where MANV = @MANV
			END
		
		-- Lưu thay đổi
		COMMIT TRAN;
		
			-- Kiểm tra xem Nhân viên đã có tài khoản login chưa. Nếu có thì xóa.
			-- TH nếu có, lỗi xãy ra khi nhân viên đó đang kết nối
			IF EXISTS(SELECT SUSER_SNAME(sid) FROM sys.sysusers WHERE name = CAST(@MANV AS sysname))
			BEGIN
				EXEC SP_DROPUSER @USERNAME;
				EXEC SP_DROPLOGIN  @LGNAME;
			END
	END TRY
	BEGIN CATCH
		-- Nếu có lỗi trước dòng commit
		IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRAN;
		END;
		-- THROW lỗi cho client
		THROW;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_ReportAccountDetailByBrandId]    Script Date: 22/12/2021 11:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ReportAccountDetailByBrandId] AS
BEGIN
	SELECT kh.CMND, kh.HOTEN, kh.DIACHI, kh.PHAI, kh.NGAYCAP, kh.SODT, cn.TENCN
	FROM 
	(
		SELECT CMND, (HO + ' ' + TEN) AS [HOTEN], DIACHI, PHAI, NGAYCAP, SODT, MACN
		FROM LINK2.NGANHANG.dbo.KhachHang
	) kh
	JOIN LINK0.NGANHANG.dbo.ChiNhanh cn 
	ON cn.MACN = kh.MACN
	ORDER BY cn.TENCN, kh.HOTEN
END
GO
/****** Object:  StoredProcedure [dbo].[usp_ReportOpenedAccount_Date]    Script Date: 22/12/2021 11:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ReportOpenedAccount_Date] (@dateFrom AS DATE, @dateTo AS DATE)
AS
BEGIN
	SELECT tk.SOTK, kh.HOTEN, kh.CMND, tk.SODU, tk.NGAYMOTK, cn.TENCN
	FROM 
	(
		SELECT SOTK, CMND, SODU, NGAYMOTK, MACN FROM dbo.TaiKhoan
		WHERE DATEADD(dd, 0, DATEDIFF(dd, 0, NGAYMOTK)) BETWEEN @dateFrom AND @dateTo
	) tk
	JOIN 
	(
		SELECT (HO + ' ' + TEN) AS [HOTEN], CMND
		FROM LINK2.NGANHANG.dbo.KhachHang
	) kh 
	ON kh.CMND = tk.CMND
	JOIN
	(
		SELECT MACN, TENCN FROM LINK0.NGANHANG.dbo.ChiNhanh
	) cn 
	ON cn.MACN = tk.MACN
	ORDER BY cn.TENCN ASC, tk.NGAYMOTK ASC
END
GO
/****** Object:  StoredProcedure [dbo].[usp_ReportOpenedAccountByBrandId_Date]    Script Date: 22/12/2021 11:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ReportOpenedAccountByBrandId_Date] (@dateFrom AS DATE, @dateTo AS DATE)
AS
BEGIN
	DECLARE @maCN NCHAR(10);
	SET @maCN = (SELECT MACN FROM dbo.ChiNhanh);

	
	SELECT tk.SOTK, kh.HOTEN, kh.CMND, tk.SODU, tk.NGAYMOTK
	FROM 
	(
		SELECT SOTK, CMND, SODU, NGAYMOTK FROM dbo.TaiKhoan
		WHERE DATEADD(dd, 0, DATEDIFF(dd, 0, NGAYMOTK)) BETWEEN @dateFrom AND @dateTo
		AND MACN = @maCN
	) tk
	JOIN 
	(
		SELECT (HO + ' ' + TEN) AS [HOTEN], CMND
		FROM LINK2.NGANHANG.dbo.KhachHang
	) kh 
	ON kh.CMND = tk.CMND
	ORDER BY tk.NGAYMOTK ASC
END
GO
/****** Object:  StoredProcedure [dbo].[usp_ReportTransactionByAccountId_Type_Date]    Script Date: 22/12/2021 11:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ReportTransactionByAccountId_Type_Date] (@AccountId NCHAR(9), @dateFrom AS DATE, @dateTo AS DATE, @type AS NVARCHAR(10))
AS
BEGIN
	
	IF @type = N'GT' OR @type = N'RT'
		SELECT NGAYGD AS [NGAY], @type AS [LOAIGD], SOTIEN, SODUSAU
		FROM dbo.GD_GOIRUT WITH (INDEX = IX_GD_GOIRUT_SOTK)
		WHERE SOTK = @AccountId
			AND DATEADD(dd, 0, DATEDIFF(dd, 0, NGAYGD)) BETWEEN @dateFrom AND @dateTo
			AND LOAIGD = @type
		ORDER BY NGAYGD ASC
	ELSE IF @type = N'CT'
		SELECT NGAYGD AS [NGAY], @type AS [LOAIGD], SOTIEN, SODUSAU
		FROM dbo.GD_CHUYENTIEN WITH (INDEX = IX_GD_CHUYENTIEN_SOTK_CHUYEN)
		WHERE SOTK_CHUYEN = @AccountId
			AND DATEADD(dd, 0, DATEDIFF(dd, 0, NGAYGD)) BETWEEN @dateFrom AND @dateTo
		ORDER BY NGAYGD ASC
	ELSE
		-- All
		(SELECT NGAYGD AS [NGAY], LOAIGD, SOTIEN, SODUSAU
		FROM dbo.GD_GOIRUT  WITH (INDEX = IX_GD_GOIRUT_SOTK)
		WHERE SOTK = @AccountId
			AND DATEADD(dd, 0, DATEDIFF(dd, 0, NGAYGD)) BETWEEN @dateFrom AND @dateTo)
		UNION ALL
		(SELECT NGAYGD AS [NGAY], 'CT' AS [LOAIGD], SOTIEN, SODUSAU
		FROM dbo.GD_CHUYENTIEN WITH (INDEX = IX_GD_CHUYENTIEN_SOTK_CHUYEN)
		WHERE SOTK_CHUYEN = @AccountId
			AND DATEADD(dd, 0, DATEDIFF(dd, 0, NGAYGD)) BETWEEN @dateFrom AND @dateTo)
		ORDER BY NGAY
END
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateCustomerAccounts]    Script Date: 22/12/2021 11:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UpdateCustomerAccounts] @UpdatedAccounts TBTYPE_TAIKHOAN READONLY
AS
BEGIN
	SET XACT_ABORT ON
	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE

	BEGIN DISTRIBUTED TRANSACTION;

	DECLARE @CMND NCHAR(10);

	SET @CMND = (SELECT TOP 1 CMND FROM @UpdatedAccounts);

	WITH customerAccounts AS
	(
		SELECT SOTK, CMND, SODU, MACN, NGAYMOTK 
		FROM dbo.TaiKhoan WITH (INDEX = IX_TaiKhoan_CMND)
		WHERE CMND = @CMND
	)

	MERGE customerAccounts AS TARGET
	USING @UpdatedAccounts AS SOURCE
	ON (TARGET.SOTK = SOURCE.SOTK)
	WHEN MATCHED AND TARGET.NGAYMOTK <> SOURCE.NGAYMOTK
		-- Chỉ có thể cập nhật ngày mở tài khoản
		THEN UPDATE SET TARGET.NGAYMOTK = SOURCE.NGAYMOTK 
	WHEN NOT MATCHED BY TARGET
		-- SOTK khác nhau thì INSERT
		THEN INSERT (SOTK, CMND, SODU, MACN, NGAYMOTK) VALUES (SOURCE.SOTK, SOURCE.CMND, SOURCE.SODU, SOURCE.MACN, SOURCE.NGAYMOTK)
	WHEN NOT MATCHED BY SOURCE
		THEN DELETE;
	
	COMMIT TRANSACTION;
END
GO
USE [master]
GO
